{%extends "base.html"%}
{%block content%}
    <div class="container">
        <legend class="m-4 d-flex justify-content-center "><h3><u>Delete User Account</u></h3></legend>
        <form action="" method="POST">
            {{form.hidden_tag()}}
            <div class="media">
                <img class="rounded-circle account-img mr-4" src="{{image_file}}">
            </div>
            <div class="form-group">
                {{form.name.label}}
                {{form.name(class="form-control form-control-lg", readonly=true)}}
            </div>
            <div class="form-group">
                {{form.username.label}}
                {{form.username(class="form-control form-control-lg", readonly=true)}}
            </div>
            <div class="form-group">
                {{form.email.label}}
                {{form.email(class="form-control form-control-lg", readonly=true)}}
            </div>
            <div class="form-group">
                {{form.role.label}}
                {{form.role(class="form-control form-control-lg", disabled=true)}}
            </div>
            <div class="form-group">
                {{form.fine.label}}
                {{form.fine(class="form-control form-control-lg", readonly=true)}}
            </div>
            <div class="form-group" >
                {{form.account_state.label}}
                {{form.account_state(class="form-control form-control-lg",disabled=true)}}
            </div>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Press Delete Button to delete this user    
            </small>
            <div class="form-group mt-4">
                {{form.submit(class="btn btn-danger",label="Delete Account")}}
            </div>
        </form>
    </div>
{%endblock%}
