{%extends "base.html"%}
{%block content%}
<div class="container">
    <h6 div class="d-flex justify-content-center lead mb-3" style="font-family: serif">
      Clicking on the username will redirect to the Deleting the user.    
    </h6>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
            {%for user in users%}
            <tr>
              <th id="#row-number" scope="row"></th>
              <td><a >{{user.name}}</a></td>
              <td><a >{{user.email}}</a></td>
              <td><a href="{{url_for('manage_accounts_delete', username=user.username)}}">{{user.username}}</a></td>
            </tr>
            {%endfor%}
        </tbody>
      </table>
</div>
<script>
    const table = document.querySelector('.table')
    let i=1
    for(i;i<table.rows.length;i++){
        table.rows[i].getElementsByTagName("th")[0].textContent = i
    }
</script>
{%endblock%}
