{%extends "base.html"%}

{%block content%}
    <div class="container">
        <div class="card m-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><h4>“There is no friend as loyal as a book.”</h4></p>
                <footer class="blockquote-footer"><cite title="Source Title">Ernest Hemingway</cite></footer>
              </blockquote>
            </div>
        </div>
        <div class="card m-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><h4>"Reading is a conversation. All books talk. But a good book listens as well."</h4></p>
                <footer class="blockquote-footer"><cite title="Source Title">Mark Haddon</cite></footer>
              </blockquote>
            </div>
        </div>
        <div class="card m-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><h4>"If you don’t see the book you want on the shelf, write it."</h4></p>
                <footer class="blockquote-footer"><cite title="Source Title">Beverly Cleary​</cite></footer>
              </blockquote>
            </div>
        </div>
        <div class="card m-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><h4>“A mind needs books as a sword needs a whetstone, if it is to keep its edge.”</h4></p>
                <footer class="blockquote-footer"><cite title="Source Title">George R.R. Martin</cite></footer>
              </blockquote>
            </div>
        </div>
        <div class="card m-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><h4>“Be careful about reading health books. Some fine day you'll die of a misprint.”</h4></p>
                <footer class="blockquote-footer"><cite title="Source Title">Markus Herz</cite></footer>
              </blockquote>
            </div>
        </div>
        <div class="card m-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><h4>“In a good bookroom you feel in some mysterious way that you are absorbing the wisdom contained in all the books through your skin, without even opening them.”</h4></p>
                <footer class="blockquote-footer"><cite title="Source Title">Mark Twain</cite></footer>
              </blockquote>
            </div>
        </div>
        <div class="card m-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><h4>“Make it a rule never to give a child a book you would not read yourself.”</h4></p>
                <footer class="blockquote-footer"><cite title="Source Title">George Bernard Shaw</cite></footer>
              </blockquote>
            </div>
        </div>
    </div>
{%endblock%}